
/*  Barra superior*/
@font-face{
    font-family: avenir-lt-std-95-black;
    src: url(./fonts/avenir-lt-std-95-black.otf) format('truetype');
} 

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    padding: 0px 0px 0;
}



.header{
    font-family: Arial, Helvetica, sans-serif;
    background: #ffff;
    opacity: 90%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.submenu{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background: #ffff;
    opacity: 90%;
    position: absolute;
    width: 110%;
    height: 110px;
    top: 82%;
    left: 30%;
    display: inline-block;
    text-align: center;
    list-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.gris{
    text-decoration: none;
    color: #758299;
    display:block;
    padding: 20px; 
}

.azul{
    text-decoration: none;
    color: #2949C7;
    display:block;
    padding: 20px; 
}

header  nav .titulo{
    text-decoration: none;
    font-family: avenir-lt-std-95-black;
    color: #2949C7;
    display: inline-block;
    text-align: center;
    padding: 20px; 
    font-size: 20px;
}


.boton {
    background-color: #3656D4;
    border: none;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.header li a{
    text-decoration: none;
    color: #758299;
    display:block;
    padding: 20px;  
}

.header li{
    display: inline-block;
    text-align: center;
}

.header li a:hover{
    background: #2949C7;
    color: #ffff;
}

.nav{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: 16px;
    margin-right: 45px;
    margin-left: 40px;
}
/* imagenes*/


.imagen{
    width: 80%;
    height: 80%;
    position: absolute;
    top: -1%;
    right: -25%;
}

.contenedor{
    width: 750px;
    height: 713px;
    position: relative;
    top: 0%;
    left: 0%;
    background-color:#ffff;
}

.titulos{
    text-decoration: none;
    font-family: avenir-lt-std-95-black;
    color: #1F3E72;
    font-size: 60px;
}

.acomodarTitulos{
    position: relative;
    top: 50%;
    left: 50%;
    transform:translateX(-40%) translateY(55%);
}

.textos{
    text-decoration: none;
    font-family: avenir-lt-std-95-black;
    color: #758299;
    font-size: 15px;
}

.acomodarTextos{
    position: absolute;
    top: 35%;
    left: 30%;
    transform:translateX(-50%) translateY(50%);
}

.subtitulos{
    text-decoration: none;
    font-family: avenir-lt-std-95-black;
    color: #1F3E72;
    font-size: 15px;
}

.acomodarSubTitulos1{
    position: absolute;
    top: 50%;
    left: 23%;
    transform:translateX(-50%) translateY(50%);
}

.acomodarSubTitulos2{
    position: absolute;
    top: 50%;
    left: 48%;
    transform:translateX(-50%) translateY(50%);
}

.acomodarSubTitulos3{
    position: absolute;
    top: 70%;
    left: 28%;
    transform:translateX(-50%) translateY(50%);
}

